.cart {
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 8px;
}

.order {
  display: flex;
  padding-left: 20px;
}

.order-item {
  text-align: center;
}

.order-btn {
  margin-top: 1rem;
  text-align: center;

}

.text-left {
  display: block;
  margin-bottom: 10px;
}

.anchor-link {
  text-decoration: none;
  text-align: left;
  width: fit-content;
  padding: 2px 4px;
}